body{
	background-image: url('images/steel.jpg');

}

.container{
	/*position: relative;
	top: 0;*/
	width: 80%;
	margin: 0 auto;
	font-family: 'Poppins', sans-serif;
	line-height: 1.5rem;
	background-color: white;
}

.header{
	display: block;
}

.banner{
	background-color: yellow;
	color: black;
}

.banner .title{
	padding-top: 2rem;
	margin-left: 3rem;
	margin-top: 0;
}

.banner .small-title{
		padding-bottom: 2rem;
		margin-left: 3rem;
		margin-bottom: 0;
}


.navigation{
	background-color: black;

}

.link-redirect{
	display: flex;
	list-style: none;
	margin : 0;
	padding: 0.25rem 0;
	margin-left: 3rem;
}

.link-redirect li a{
	text-decoration: none;
	color: white;
	margin-right: 1rem;
}


.body{
	display: flex;
	padding-bottom: 2rem;
	border-bottom: 2px dotted grey;
}
/*LEFT HAND SIDE*/
.left{
	width: 70%;
	margin: 0;
	margin-left: 1rem;
	margin-top: 2rem;
	padding: 0 2rem;
}

.overview{
	border-bottom: 2px black dotted;
}
.overview-pic{
	width: 100%;
}
.about-pic{
	float: right;
	/*position: absolute;*/
	width: 50%;
}

.products-list{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 2rem;
	justify-content: space-around;
}
.product{
	/*width: 30%;*/
	flex-basis: 30%;
	border: 1px white solid;
	border-radius: 5px;
	/*box-shadow: 2px 2px 2px 2px grey;*/
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
	margin: 1rem 0.5rem;
	max-width: 200px;

}
.product img{
	width: 100%;
	border-radius: 5px;
}

.message-form{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.message-form .col-1{
	border: 1px solid grey;
	margin-bottom: 0.5rem;
}

.message-form .btn{
	/*align-items: right;*/
	margin: 0;
	margin-left: auto;
}

.col-2{
	width: 48%;
	line-height: 1.5rem;
	margin-bottom: 0.5rem;
	/*align-items: center;*/
}


.box{
	border: 1px solid grey;
	border-radius: 10px;
}

/*RIGHT HAND SIDE*/
.right{
	width: 20%;
}

.card {
	box-shadow: 2px 2px 20px 2px rgba(0,0,0,0.1);
	border-radius: 10px;
	padding: 1.5rem 0.5rem;
	margin: 1.5rem auto;
	/*width: 100%;*/
}
.card h3{
	margin-top: 0;
}

.connect{
	display: block;
	margin-top: 3rem;
}
.btn{
	border-radius: 20px;
	background-color: green;
	font-size: 1rem;
	padding: 0.25rem 0.4rem;
	margin: 0 auto;
	color: white;
}
.facebook:before{
	content: url('images/facebookicon.png');
}



.col-1{
	width: 100%;
	height: 8rem;
	display: flex;
	padding: 1.5rem 0;
	border-bottom: 2px grey dotted;
}

.image{
	width: 25%;
	padding: 0;
}
.image img{
	height: 100%;
	border-radius: 6px;
}
.machine-overview{
	width: 60%;
	float: right;
	margin: 0 0.75rem;
}
.machine-overview h3{
	margin: 0.5rem 0;
	font-size: 24px;
	font-weight: plain;
}
.brief-content{
	font-weight: bold;
	font-size: 0.75rem;
}